include _includes/sharedHTMLfunctions

extends layout

block content
	h1= title
	h2#message= message
	form#employeeForm(action="/update", method="post", role="form")
		.form-group
			input#firstName.form-control(name="firstName" value="#{results.firstName}" required)
		.form-group
			input#lastName.form-control(name="lastName" value="#{results.lastName}" required)
		.form-group
			input#department.form-control(name="department" value="#{results.department}" required)
		.form-group
			+updateDate(results.startDate)
		.form-group
			input#jobTitle.form-control(name="jobTitle" value="#{results.jobTitle}" required)
		.form-group
			input#salary.form-control(name="salary" value="#{results.salary}" required)
		input(type="hidden" name="id" value="#{results._id}")
		button.btn.btn-default(type="submit") Update Employee